.order-container
{
    padding: 3% 7%;
}

.order-container .box-container
{
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    justify-content: center;
    align-items: flex-start;
}

.order-container .box
{
    text-align: left;
}

.order-container .box label
{
    margin-bottom:.5rem;
    text-transform: none;
    color: #000;

}

.order-container .box span
{
    color: #555;
}

.order-container form
{
    text-align: center;
}

.order-container form select
{
    -webkit-appearance: none;
    appearance: none;
    padding: 0 30px 0 15px;
    width: 45%;
    font-size: 20px;
    color: white;
    -moz-appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0!important;
    background-color: #2873ff;
    background-image: none;
}

.order-container form input
{
    box-shadow: none;
    width: 45%;
    text-transform: capitalize;
}
.order-container .delete,
.order-container .update-order{
    width: 40%;
    cursor: pointer;
}
.delete-order{
    margin: .5rem;
    text-transform: capitalize;
    color: #fff;
    background: #545bba;
    padding: .5rem 2rem;
    border-radius: 5px;
}
.box-container .delete
{
    padding: .6rem, 12%;
}

form .btn{
    cursor: pointer;
    background: #545bba;
    color: #fff;
    text-transform: uppercase;
}
form .btn:hover{
    background: transparent;
    border: 2px solid pink;
    color: #F4672C;
}
.add-product, .show-products , .update-container .order-container{
    background-image: url('image/banner5.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.box-container{
    padding: 2% 8%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(18rem,1fr));
    justify-content: center;
    align-items: center;
}
