body{
    
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 100vh;
}
.Logo {
    align-self:center;
    display: inline-block;
    height: 10vh;
}
.Logo img {
    width: 100px;
    height: 100px;
}
*{
    font-family: sans-serif;
    box-sizing: border-box;
}
form{
    width: 500px;
    border: 2px solid #ccc;
    padding: 30px;
    background: #ffffff46;
    border-radius: 15px;
    align-self: center;
}
h2{
    text-align: center ;
    margin-bottom: 40px;
}
input{
    display: block;
    border: 2px solid #ccc;
    width: 95%;
    padding: 10px;
    margin: 10px auto;
}
label{
    color: #888;
    font-size: 18px;
    padding: 10px;
}
button{
    float: right;
    background: #555;
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
    border: none;
}
button:hover{
    opacity: .7;
}
.error{
    background: #F2DEDE;
    color: #A94442;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}