body{
    background-image: url(../imgs/header.jpg);
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
.Logo {
    align-self:center;
    display: inline-block;
    height: 10vh;
}
*{
    font-family: sans-serif;
    box-sizing: border-box;
}
form{
    width: 500px;
    border: 2px solid #d4a680;
    padding: 30px;
    background: #3b29a046;
    border-radius: 15px;
    align-self: center;
}
h2{
    text-align: center ;
    color: #ffff;
    margin-bottom: 40px;
}
input{
    display: block;
    border: 2px solid #ccc;
    width: 95%;
    padding: 10px;
    margin: 10px auto;
}
label{
    color: #fff9f9;
    font-size: 18px;
    padding: 10px;
}
.butn{
    float: right;
    padding: 10px 15px;
    border-radius: 5px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    background: #3f37c9;
    color: #fff;
    text-transform: uppercase;
}
.butn:hover{
    background: transparent;
    border: 2px solid pink;
    color: #F4672C;
}
a
{
    color: #F4672C;
    text-decoration: none;
}
.error{
    background: #F2DEDE;
    color: #A94442;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}