* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'sparten',sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
} 

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}
p{
    font-size: 16px;
    color: #fff;
    margin: 15px 0 20px 0;
}
.section-p1{
    padding: 40px 80px;
    color: #0A3DAB;
}
.section-p1 .col{
    color: #0A3DAB;
}

.section-m1 {
    margin: 40px 0;
}

body {
    width: 100%;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 80px;
    background: #083DA6;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
  
}

#navbar li{
    list-style: none;
    padding: 0 25px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    transition: 0.3s ease;
}
#navbar li .fa-solid{
    color:white ;
}
#navbar li a:hover,
#navbar li a.active{
    color:#Fe5c02 ;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #F4672C ;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
/*-----------icons-----------*/
#header .icons i{
    color: #fff;
    margin: 3px;
    padding: 3px 3px;
}
#header .icons i:hover{
    color: #F4672C;
    margin: 3px;
    padding: 3px 3px;
}
#header .icons :hover{
    color: #F4672C;
}
#header .icons a{
    color: #fff;
    text-decoration: none;
}
#product1 {
    text-align: center;
}
#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
}
#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}
#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}
#product1 .pro .des span{
    color: #606083;
    font-size: 12px;
}
#product1 .pro .des h5{
    padding-top: 7px;
    color:#1a1a1a ;
    font-size: 14px;
}
#product1 .pro .des i{
    font-size: 12px;
    color: gold;
}
#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 14px;
    font-weight: 700;
    color: #F4672C;
}
#product1 .pro .fa-cart-shopping {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font: weight 700px;
    color:#F4672C ;
}
#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background: #ffb703;
    background-position: 20% 30%;
}
#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}
#newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: #F8E4B7;
}
#newsletter p span{
    color: #000000;
}
#newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}
#newsletter button{
    background-color: #083DA6;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
#newsletter .form{
    display: flex;
    width: 40%;
}
footer{ 
    background: #3f37c9;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer .logo{
    margin-bottom: 30px;
}
footer h4{
    font-size: 14px;
    padding-bottom: 20px; 
}
footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}
footer a{
    font-size: 13px;
    text-decoration: none;
    color: #F6F6F6;
    margin-bottom: 10px;
}
footer .follow{
    margin-top: 20px;
}
footer .follow i{
    color: #fff;
    padding-right: 4px;
    cursor: pointer;
}
footer .install .row img{
    border: 1px solid #fff;
    border-radius: 6px;
}
footer .install img{
    margin: 10px 0 15px 0;
}
footer .follow i:hover,
footer a:hover{
color: #fff;
}
footer .copyright{
    width: 100%;
    text-align: center;
}
#foo h4{
    color: #fff;
}
#foo p{
    color: #fff ;
}
#foo .icons{
    color: #fff;
}
#menu-btn{
    display: block;
}
#user-btn{
    cursor: pointer;
}
#navbar li .fa-solid:hover{
    color: #fe5c02;
}
 .user-box {
    position: absolute;
    top: 80%;
    right: 0.9%;
    width: 18rem;
    padding: .5rem .5rem;
    background: #2873ff;
    border-radius: 5px;
    text-transform: capitalize;
    color: #fff;
    font-size: 12px;
    display: none;
    transition: .5s;
}
.user-box.active{
    display: block;
}
.user-box span{
    text-transform: capitalize;
    color: #ffffff;
    font-size: 14px;
}
.logout-btn,
.login-btn,
.register-btn,
.orders-btn
{
    background: #433bd4;
    width: 13rem;
    height: 40px;
    padding: 5px 5px;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
    border: none;
    outline: none;
    margin: 0 auto;
    margin-top: 1rem;
}
#menu-btn{
    display: none;
}
@media (max-width: 991px){
    #menu-btn{
        display: block;
    }
    #navbar{
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        border-top: 1px solid #aa4ff3;
        background: #000;
        transition: .3s ease;
        clip-path: polygon(0 0,100% 0 ,100% 0,0 0);
    }
    #navbar a{
        display:block;
        margin:2rem;
    }
    #navbar.active{
        clip-path: polygon(0 0,100% 0 ,100% 100%,0 100%);
    }
}
.title {
    text-align: center;
    text-transform: uppercase;
    margin: 2rem 0;
    color: #0A3DAB;
}
.box-container{
    padding: 2% 8%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(18rem,1fr));
    justify-content: center;
    align-items: center;
}
.box-container .box{
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
padding:1rem 0 ;   
 background: rgba(255, 255, 255, 0.40);
    border: 2px solid rgba(255, 255, 255, 0.40) ;
    margin: 1rem;
    text-align: center;
    border-radius: 5px;
}
.box-container .box h3{
    font-size: 3rem;
    color: #000;
}
.box-container .box p{
    font-size: 18px;
    margin: 1rem 0;
    color: #000;
}
.box-container .box label{
    font-size: 18px;
    text-transform: capitalize;
    margin: 1rem 0;
}
/*....add product page.....*/
form input,textarea{
    width: 100%;
    background: whitesmoke;
    padding: .7rem 1.4rem;
    outline: none;
    border: none;
    border-radius: 5px;
    margin: .5rem 0 ;
    padding-left: .5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.40);
    font-size: 14px;
}
form .btn{
    cursor: pointer;
    background: #3f37c9;
    color: #fff;
    text-transform: uppercase;
}
form .btn:hover{
    background: transparent;
    border: 2px solid pink;
    color: #F4672C;
}
.add-product, .update-container{
    background-image: url('../imgs/banner5.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.add-product form{
    width: 55vw;
    margin: 2rem auto;
    background: #fff;
    padding: 1rem 2rem;
    border-radius: 5px;
    border: 1px solid #fef0ea;
}

.add-product form label{
    text-transform: capitalize;
    color: #0A3DAB;
}
.add-product form textarea{
    height: 150px;
}
 .add-product form select{ 
    -webkit-appearance: none;
    appearance: none;
    padding: 0 30px 0 15px;
    width: 100%;
    font-size: 20px;
    color: white;
    -moz-appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0!important;
    background-color: #2873ff;
    background-image: none;
}
.show-products .box-container{
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
}
.show-products .box-container .box{
    background: #fff;
}
.edit,.delete{
    margin: .5rem;
    text-transform: capitalize;
    color: #fff;
    background: #3f37c9;
    padding: .5rem 2rem;
    border-radius: 5px;
}
.edit:hover,.delete:hover{
    color: #F4672C;
    background: transparent;
    border: 2px solid pink;
}
.show-products .box .detail{
    font-size: 14px;
}
.show-products .box img{
    width: 55%;
}
.show-products .box h3{
    text-transform: capitalize;
}
.update-container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    background-image: url(image/banner5.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1100;
    padding: 2rem;
    align-items: center;
    justify-content: center;
    display: none;
}
.update-container form{
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.01);
    width: 50%;
    background: #fff;
    padding: 1rem;
    margin: 2rem auto;
    text-align: center;
}
.update-container .edit,
.update-container .btn{
    width: 40%;
    cursor: pointer;
}
.update-container form img{
    width: 60%;
}
.update-container form label{
    text-transform: capitalize;
    color: #0A3DAB;
}
.update-container form textarea{
    height: 150px;
}
 .update-container form select{ 
    -webkit-appearance: none;
    appearance: none;
    padding: 0 30px 0 15px;
    width: 100%;
    font-size: 20px;
    color: white;
    -moz-appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0!important;
    background-color: #2873ff;
    background-image: none;
}



.order-container form select
{
    width: 50%;
    margin: 1rem, 0;
    padding: .5rem, 0;
    cursor: pointer;
}

.order-container form input
{
    box-shadow: none;
    width: 45%;
    text-transform: capitalize;
}

.box-container .delete-order
{
    padding: .2rem, 1%;
}

.order-container
{
    padding: 3% 7%;
}

.order-container .box-container
{
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    justify-content: center;
    align-items: flex-start;
}

.order-container .box
{
    text-align: left;
}

.order-container .box label
{
    margin-bottom:.5rem;
    text-transform: none;
    color: #000;

}

.order-container .box span
{
    color: #555;
}

.order-container form
{
    text-align: center;
}

.order-container form select
{
    -webkit-appearance: none;
    appearance: none;
    padding: 0 30px 0 15px;
    width: 80%;
    font-size: 20px;
    color: white;
    -moz-appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0!important;
    background-color: #2873ff;
    background-image: none;
}
.order-container .delete,
.order-container .update-order{
    width: 40%;
    cursor: pointer;
}
.box-container .delete
{
    padding: .6rem, 12%;
}
.show-products .shop .box-container{
    position: relative;
}
.show-products .shop .title{
    color: #2873ff;
}
.price{
    font-size: 18px;
}

.name{
    font-size: 20px;
    color: #000;
    margin: .5rem;
    text-transform: capitalize;
}
.show-products .shop .icon{
    position: fixed;
    right: -90%;
    width: 10%;
    top: -285px;
    display: contents;
    flex-direction: column;
    background: #fff;
    visibility: hidden;
}

.show-products .shop .box:hover .icon{
    visibility: visible;
}
.show-products .shop .icon a,
.show-products .shop .icon button{
    margin: .2rem 0;
    padding: .3rem;
    size: 3px;
    border: 1px solid #cecece;
    color:#F4672C ;
    cursor: pointer;
}
.show-products .shop .more{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    margin: .5rem auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    border: 1px solid white;
}

.show-products .shop .more a{
    margin-bottom: -.6rem;
    color: white;
    text-transform: capitalize;
}
.show-products .shop .more a:hover{
    color: #F4672C;
}
.show-products .shop .more:hover{
    border: 1px solid #F4672C;
    color: #F4672C;
}

.view_page{
    padding: 5% 8%;
}
.view_page form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.view_page form img{
  margin-right: 150px;  
}
.view_page form .name{
    font-size: 3rem;
    color: #F4672C;
}
.view_page form .detail,
.view_page form .price{
    font-size: 18px;
    color: #000;
    line-height: 2;
}
.view_page form .price{
    font-size: 24px;
}
.view_page form .quantity{
    width: 400px;
    box-shadow: none;
    border: 1px solid #F4672C;
    border-radius: 0;
    margin-top: 1rem;
}
.view_page input{
    font-size: 18px;
}
.view_page button{
    background: #F4672C;
    color: #fff;
    margin-top: 1rem;
    padding: .8rem 1rem;
    cursor: pointer;
}
.show-products .wish .icon a, .show-products .wish .icon button {
    margin: .2rem 0;
    padding: .3rem;
    size: 3px;
    border: 1px solid #cecece;
    color:#F4672C ;
    cursor: pointer;
}
.show-products .wish .icon{
    position:relative;
    right: -90%;
    width: 10%;
    top: -19px;
    display: flex;
    flex-direction: column;
    background: #fff;
    visibility: hidden;
}
.show-products .wish .icons .btn2{
    background: #fff;
    padding: 5px 30px;
    font-size: 20px;
    color: #000;
    border-color: transparent;
}
.show-products .wish .icons .btn2:hover{
    background: #fff;
    padding: 5px 30px;
    font-size: 20px;
    color: #F4672C;
    border-color: #000;
}

.show-products .wish .box:hover .icon{
    visibility: visible;
}
.show-products .wish .box-container{
    position: relative;
}
.show-products .wish .title{
    color: #fff;
}
.disabled{
    pointer-events: none;
    opacity: 0.5;
}
.wishlist_total{
    max-width: 1200px;
    box-shadow:  0 .5rem 1rem rgba(0, 0, 0, 0.1);
    margin: 2rem auto;
    border: none;
    text-align: center;
    padding: 3rem 0;
    line-height: 2;
    text-transform: capitalize;
}
.wishlist_total .btn2{
    background: #fff;
    padding: 5px 30px;
    font-size: 19px;
    text-decoration: none;
    color: #000;
    border: groove;
}
.wishlist_total h1{
    color: #F4672C;
    font-size: 35px;
}
.wishlist_total  .btn2:hover{
    background: #fff;
    padding: 5px 30px;
    font-size: 20px;
    color: #F4672C;
    border-color: #000;
}

.wishlist_total a{
    text-transform: capitalize;
    font-size: 18px;
    margin-right: 2rem;
}
.dlt a{
    text-transform: capitalize;
    font-size: 18px;
    margin-right: 2rem;
}
.dlt .btn2{
    background: #fff;
    padding: 5px 30px;
    font-size: 26px;
    color: #000;
    border: none;
    text-decoration: none;
    margin-left: 0px;
}
.dlt  .btn2:hover{
    background: #fff;
    padding: 5px 30px;
    font-size: 28px;
    color: #F4672C;
    border-color: #000;
}
.qty{
    display: flex;
    justify-content: space-between;
}
.qty input[type='number']{
    width: 35%;
}
.qty input[type='submit']{
    width: 55%;
    cursor: pointer;
    background: #fe5c02;
    box-shadow: none;
    color: #fff;
}

.display-order{
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1); 
    width: 50vw;
    margin: 1rem auto;
    text-align: center;
    line-height: 2;
}

.display-order span{
    display: inline-block;
    background: #ececec;
    padding: .4rem;
    margin: .5rem auto;
    border-radius: 3px;
    text-transform: capitalize;
}
.display-order .grand-total{
    width: 90%;
    background: #fe5c02;
    color: #fff;
    cursor: pointer;
}

.checkout-form form{
    width: 50vw;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 10px;
}
.checkout-form form select{
    -webkit-appearance: none;
    appearance: none;
    padding: 0 30px 0 15px;
    width: 100%;
    font-size: 20px;
    color: white;
    -moz-appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0!important;
    background-color: #2873ff;
    background-image: none;
}
.input-field label{
    margin: .6rem 0;
}